body {
  background-color: #E8E8E8;
}

.container {
  padding: 70px;
  background-color: #F8F8F8;
}

h1 {
  background-color: #00b3b4;
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 2.3em;
  margin-left: -70px;
  margin-right: -70px;
  margin-top: -70px;
  margin-bottom: 30px;
}

label.question {
  font-weight: bold;
  color: #00b3b4;
}

.form-group {
  padding-top: 10px;
  padding-bottom: 15px;
}

.highlight {
  background-color: #e5f7f7;
  margin-left: -70px;
  padding-left: 70px;
  margin-right: -70px;
  padding-right: 70px;
}

button {
  background-color: #00b3b4;
  color: white;
  border: none;
  padding: 10px;
}

button:hover {
  background-color: #2F4F4F;
}

.result {
  display: none;
  background-color: #00b3b4;
  padding: 50px;
  margin-top: 50px;
}

div.result h3 {
  color: white;
}

.help-block {
  color: red;
  display: none;
  font-style: italic;
}

.error-border {
  border: solid 1px red;
}

.error {
  background-color: #F0F0F0;
  margin-left: -70px;
  padding-left: 70px;
  margin-right: -70px;
  padding-right: 70px;
}
