body {
  background-color: #F8F8F8;
}

.container {
  padding: 60px;
  background-color: white;
}

h1 {
  background-color: #00b3b4;
  color: white;
  text-align: center;
  font-family: helvetica, sans-serif;
  font-size: 40px;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 2em;
  margin-left: -60px;
  margin-right: -60px;
  margin-top: -60px;
  margin-bottom: 30px;
}

button {
  background-color: #00b3b4;
  color: white;
  border: none;
  padding: 10px;
}

.result {
  display: none;
  background-color: #00b3b4;
  padding: 50px;
  margin-top: 50px;
}

div.result h3 {
  color: white;
}

.help-block {
  color: red;
  display: none;
  font-style: italic;
}
